
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
}


@media only screen and (max-width: 700px) {
  #root {
      flex-direction: column;
  }
}