body {
    background: rgb(93,62,189);
background: linear-gradient(180deg, rgba(93,62,189,1) 0%, rgba(71,42,158,1) 100%);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #363744;
    cursor: auto;
}

a {
    text-decoration:none;
    color: inherit;
}

a:hover {
    color: black;
}

a:visited {
    text-decoration: none;
}


/* .font-thin {
    font-weight: 400;
} */

hr {
    border: none;
    border-top: 1px solid black;
    margin: 0px;
}

.title {
    font-weight: 400;
}

.font-thin-italic {
    font-weight: 300;
    font-style: italic;
}

h1,h3,h4,h5 {
    margin: 0;
}

p {
    margin:7px 0px;
}

.company{
    color: #6d6e70;
    font-size: 25px;
}


body > .container {
    width: 900px;
    background-color: white;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.50);
}

/* .container .cv-header {
    margin: 1px;
} */

.header-title {
    margin-top: -10px;
}

.title-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.font-10 {
    font-size: 12pt;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section {
    margin: 20px 0px 20px 0px;
    font-weight: 300;
    
}

.job-header {
    font-weight: 500;
}

.bold-1 {
    font-weight: 500;
}

@media (max-width: 900px) {
    body > .container {
        width: 100%;
        box-shadow: none;
    margin: 0;

    }
}

@media screen and (max-width: 650px) {
    .title-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .job-header {
        display: flex;
        flex-direction: column;
    }

    .dash {
        display: none;
    }
}
